<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="template :: head1"></meta>
<meta th:replace="template :: head2"></meta>
<link th:replace="template :: head3"></link>
<link th:replace="template :: head4"></link>
<link th:replace="template :: head5"></link>
<meta th:replace="template :: head6"></meta>
<title>Usuários</title>
</head>
<body>

	<div th:replace="template :: header"></div>
	
	<main>
	<!--FORM-->
		<div class="container">
		<div class="section">
		<div class="row">
			<h4>Alterar Registro</h4>
			<form class="col s12" method="POST" th:object="${record}"
			th:action="@{/u/registros/alterar}">
				<div class="row">
					<div class="input-field col s6">
						<input type="text" value="${record.id}" placeholder="Id" th:field="*{id}" readonly="readonly" th:required="required"/>
							<label for="name" class="active">Id</label>
					</div>
					<div class="input-field col s6">
						<input type="text" value="${record.date}" placeholder="Data" th:field="*{date}" th:required="required"/>
							<label for="name" class="active">Date</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<button class="btn waves-effect waves-light" type="submit"
							name="action">
							ALTERAR <i class="material-icons right">send</i>
						</button>
					</div>
				</div>
			</form>
		</div>
		</div>
		</div>
		</main>
		<!--/FORM-->
	<div th:replace="template :: footer"></div>
	<div th:replace="template :: script"></div>
</body>
</html>